<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="css/user-account.css" />
  
  <link rel="stylesheet" href="/css/main.css">
  <title>HealthConnect</title>
</head>

<body>

  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Brand with Logo -->
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="images/Logo .svg" alt="HealthConnect Logo" width="30" height="30" class="mr-2">
        HealthConnect
      </a>
      <!-- Toggler button for mobile -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        
      </button>

      <!-- Navbar Links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Services
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#mental-health">Mental Health</a>
              <a class="dropdown-item" href="#disease-prevention">Disease Prevention</a>
              <a class="dropdown-item" href="#symptom-checker">Symptom Checker</a>
              <a class="dropdown-item" href="#online-booking">Online Booking</a>
              <a class="dropdown-item" href="#peer-education">Peer Education</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>

          <!-- User Profile Icon (Boxicons) -->
          <li class="nav-item">
            <a class="nav-link" href="#user-account">
              <i class="bx bx-user-circle" style="font-size: 1.5em;"></i> <!-- Adjust the size as needed -->
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Main content area -->
  <main class="hero-section">
    <!-- Your content goes here -->
 
  